<html lang="en">
 <%- include("./partials/head.ejs") %>

<body>
 <%- include("./partials/nav.ejs") %>

  <div class="bank content">
    <h2>All Users</h2>
    <% if(users.length > 0){ %>
     <% users.forEach(user => { %>
      <a class="single" href="/users/<%= user._id %>">
       <h3 class="title"><%= user.name %></h3>
       <p class="snippet"><%= user.email %></p>
       <p class="snippet"><%= user.phone %></p>
     </a>
      <% }) %>
    <% }else { %> 
     <p>No Users yet</p>
    <% } %>
  </div>

</body>
</html>